<% include ./partials/header.ejs %>

<div class="container">
  <h2 id="meuCarrinho">Meu carrinho</h2>

  <!-- Títulos -->
  <div class="row row-titulos hidden-xs">

  	<div class="col-md-5 col-sm-6 col-xs-5">
			<h4><strong>PRODUTO</strong></h4>
		</div>

		<div class="col-md-3 col-sm-4 col-xs-4">
			<h4><strong>DETALHES</strong></h4>
		</div>

		<div class="col-md-2 hidden-sm col-xs-2">
			<h4><strong>PREÇO UNIN.</strong></h4>
		</div>

		<div class="col-md-2 col-sm-2 col-xs-1">
			<h4><strong>TOTAL</strong></h4>
		</div>

  </div>

  <!-- Itens do carrinho -->
	<% for(var i=0; i<3; i++){ %>
		<div class="row row-carrinho item-<%= i %>">
	
			<!-- Produto -->
			<div class="col-md-5 col-sm-6">
				<img src="<%= itens[0].imagem %>" alt="Vestido estampado"/>
				<div class="info">
	  	   	<h4><%= itens[0].titulo %></h4>
	  	   	<div class="hidden-xs">
	  	   		<p>COD.: <%= itens[0]._id %></p>
	  	   		<p>Vendido e entregue por X.</p>
	  	   	</div>
	  	   </div>
			</div>
	
			<!-- Detalhes -->
			<div class="col-md-3 col-sm-4">
				<section class="form-sec">
					<form action="/carrinho" method="GET">

						<!-- Tamanho -->
						<div class="tamanhos<%= i %>">
							<label class="labelBreak">Tamanho:</label>
							<% var arrTam = ['P', 'M', 'G'] %>
	
								<!-- Gera tamanho -->
								<% for(var j=0; j<arrTam.length; j++){ %>
								<label class="tamanho">
								  <input type="radio" name="tam<%= i %>" 
								  			 value="<%= arrTam[j] %>">
								  <div class="button">
								  	<span class="<%= arrTam[j] %><%= i %>">
								  		<span><%= arrTam[j] %></span>
								  	</span>
									</div>
								</label>
							<% } %>

						</div>

						<br>

						<!-- Cores -->
						<div class="cores<%= i %>">
							<label class="labelBreak">Cor:</label>
							<% var arrCores = ['branco', 'preto', 'azul'] %>
	
							<!-- Gera cores -->
							<% for(var j=0; j<arrCores.length; j++){ %>
								<label class="<%= arrCores[j] %>">
								  <input type="radio" name="cor<%= i %>" required
								  			 value="<%= arrCores[j] %>">
								  <div class="button">
								  	<span class="<%= arrCores[j] %><%= i %>">
									  	<span></span>
									  </span>
									</div>
								</label>
							<% } %>
	
						</div>

						<br>

						<!-- Quantidade -->
						<label>Quantidade:</label>
						<select name="quantidade<%= i %>">
	
							<!-- Gera quantidade (options) -->
							 <% for(var j=1; j<11; j++){ %>
	  						<option value="<%= j %>"><%= j %></option>
	  					<% } %>
	
						</select>
	
					</form>
				</section>

			</div>

			<!-- Preço unitário -->
			<div class="col-md-2 hidden-sm hidden-xs">
				<span class="preco-original original-cons<%= i %>">
					R$<%= itens[0].precoOriginal.toFixed(2).replace(".", ",") %>
				</span>
	  			<span class="preco-desconto promocao-cons<%= i %>">
	  				R$<%= itens[0].precoPromocao.toFixed(2).replace(".", ",") %>
	  			</span>
			</div>
		
			<!-- Preço total -->
			<div class="col-md-2 col-sm-2 col-xs-1 valores-xs">

				<span class="preco-original original-temp<%= i %>">
					R$<%= itens[0].precoOriginal.toFixed(2).replace(".", ",") %>
				</span>
				<span class="preco-desconto promocao-temp<%= i %>">
					R$<%= itens[0].precoPromocao.toFixed(2).replace(".", ",") %>
				</span>

			</div>
	
			<!-- Botão que deleta item (all but mobile) -->
			<button class="trash hidden-xs" value="<%= i %>">
				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			</button>

			<!-- Botão que deleta item (mobile) -->
			<button class="trash hidden-lg hidden-md hidden-sm" value="<%= i %>">
				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			</button> 
	
		</div>
	<% } %>

	<!-- CEP/ Cupom / Total da compra -->
	<div class="row row-carrinho-bottom">

		<!-- CEP -->
		<div class="col-lg-8 col-xs-12">

			<span>Prazo de Entrega - Informe o CEP para consultar: </span>

			<form action="#" method="GET">
				<input type="text" id="cep" size="5" maxlength="5" pattern=".{5,5}"
							 required title="5 números são necessários nesse campo"
							 onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')">
				<input type="text" size="3" maxlength="3" pattern=".{3,3}"
							 required title="3 números são necessários nesse campo"
							 onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')">
				<input type="submit" class="botao-default" value="Consultar">
			</form>

			<a href="#">Não sei meu CEP</a><hr>

			<!-- Cupom -->
  	  <button class="botao-default cupom">Adicionar cupom de desconto</button>

  	  <hr>

		</div>

		<!-- Total -->
		<div class="col-lg-4 col-xs-12">

			<span class="economia"></span>

			<hr>

			<div class="pull-right">
  	   	<h4 class="preco-total"></h4>
  	   	<h5 class="total-parcelado"></h5>
  	  </div>

  	  <h3>TOTAL</h3>
  	  <button class="botao-default">Finalizar Compra</button>
  	  <button class="botao-default">Escolher mais produtos</button>

		</div>

	</div>

	<!-- Carrinho vazio / Caso todos itens sejam removidos -->
	<div class="row row-carrinho-vazio">
		<div class="col-xs-12">
				<h3>Seu carrinho está vazio...</h3>
				<p>Que tal escolher alguns produtos?</p><br>
  	    <a href="/" class="botao-default">Escolher produtos</a>
		</div>
	</div>

</div>

<!-- Inicializa funções de carrinho.js -->
<script>init();</script>

</body>

</html>
