<% include ./partials/header.ejs %>
<div class="container">
	<div class="row row-categoria">
			<div class="pull-right">
				<span class="hidden-xs">Ordernar por:</span>
				<select>
				  <option value="MelhoresAvaliados">Melhores Avaliados</option>
				  <option value="Recentes">Recentes</option>
				  <option value="Maiores Preços">Maiores Preços</option>
				  <option value="Menores Preços">Menores Preços</option>
				</select>
			</div>
			<p class="path-categoria"><span class="hidden-xs"><a href="#">Feminino</a> > <a href="#">Roupas</a></span> > <a href="#">Vestidos</a></p>
			<button class="filtroBtn botaoStyle hidden-lg hidden-md hidden-sm">Filtrar</button>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-8 hidden-filtro" style="display: none">
			<h3>Filtros</h3><hr>
			<ul class="categoria-filter">
				<li class="categoria"><button class="toggleFiltro"><strong>Roupas femininas <span class="expand">-<span></strong></button>
					<% var arrRoupas = ['Vestidos', 'Calças', 'Blusas', 'Camisas', 'Saias', 'Shorts', 'Pijamas', 'Praia'] %>
					<div class="openClose">
						<% arrRoupas.forEach(function(roupa){ %>
						<div class="form-check">
						  <label class="form-check-label">
						    <input class="form-check-input" type="checkbox" value="30">
						    <%= roupa %>
						  </label>
						</div>
						<% }); %>
					</div>
				</li>
				<li class="categoria"><button class="toggleFiltro"><strong>Tamanho <span class="expand">-<span></strong></button>
					<% var arrTam = ['P', 'PP', 'M', 'G', 'GG'] %>
					<div class="openClose">
						<% arrTam.forEach(function(tam){ %>
						<div class="form-check">
						  <label class="form-check-label">
						    <input class="form-check-input" type="checkbox" value="30">
						    <%= tam %>
						  </label>
						</div>
						<% }); %>
					</div>	
				</li>
				<li class="categoria"><button class="toggleFiltro"><strong>Cores <span class="expand">-<span></strong></button>
					<% var arrCores = ['Amarelo', 'Azul', 'Verde', 'Vermelho', 'Rosa', 'Branco', 'Preto', 'Roxo', 'Laranja', 'Marrom', 'Bege'] %>
					<div class="openClose">
						<% arrCores.forEach(function(cor){ %>
						<div class="form-check">
						  <label class="form-check-label">
						    <input class="form-check-input" type="checkbox" value="30">
						    <%= cor %>
						  </label>
						</div>
						<% }); %>
					</div>	
				</li>
				<li class="categoria"><button class="toggleFiltro"><strong>Preço <span class="expand">-<span></strong></button>
					<% var arrPrecos = ['Até R$30,00', 'Até R$50,00', 'Até R$80,00', 'Até R$110,00', 'Até R$150,00', 'Até R$200,00'] %>
					<div class="openClose">
						<% arrPrecos.forEach(function(preco){ %>
						<div class="form-check">
						  <label class="form-check-label">
						    <input class="form-check-input" type="checkbox" value="30">
						    <%= preco %>
						  </label>
						</div>
						<% }); %>
					</div>
				</li>
				<li class="categoria"><button class="toggleFiltro"><strong>Tipo <span class="expand">-<span></strong></button>
					<% var arrTipos = ['Manga longa', 'Estampa corrida', 'Estampa lisa'] %>
					<div class="openClose">
						<% arrTipos.forEach(function(tipo){ %>
						<div class="form-check">
						  <label class="form-check-label">
						    <input class="form-check-input" type="checkbox" value="30">
						    <%= tipo %>
						  </label>
						</div>
						<% }); %>
					</div>
				</li>
			</ul>
			<a class="filtrarBtn hidden-xs-up" href="#"><button class="botaoStyle">Filtrar</button></a>
			<script>
					if($(document).width() >= 768){
						$('.hidden-filtro').css('display', 'block');
					}
					$( window ).resize(function() {
					  if($(document).width() >= 768){
							$('.hidden-filtro').css('display', 'block');
							$('.hidden-filtro').removeClass('shown-filtro');
							$('.row-categoria h3').css('text-align', 'left');
						}else{
							$('.hidden-filtro').css('display', 'none');
						}
					});
					$('.toggleFiltro').click(function(){
						$(this).parent().find('.openClose').toggle();
						var symbol = $(this).parent().find('.expand');
						if(symbol.text() == "-"){
							symbol.text('+');
						}else{
							symbol.text('-');
						}
					});
					$('.filtroBtn').click(function(){
						if($(this).text() == 'Filtrar'){
							$(this).text('Cancelar');
						}else{
							$(this).text('Filtrar');
							$(this).blur();
						}
						$('.row-categoria h3').css('text-align', 'center');
						$('.hidden-filtro').toggleClass('shown-filtro');
						$('.hidden-filtro').slideToggle();
					});
					$('.filtrarBtn').click(function(){
						$('.hidden-filtro').slideToggle();
						$('.hidden-filtro').toggleClass('shown-filtro');
						$('.filtroBtn').text('Filtrar');
					});
				</script>
			<img class="ad hidden-xs" src="https://i.pinimg.com/736x/b6/49/06/b64906050ea6c8252eb927de46c20ad8--flower-boutique-bunch-of-flowers.jpg">
			<img class="ad hidden-xs" src="https://i.pinimg.com/736x/be/1f/bc/be1fbc1262145604e9d0a34e9a7fe8e3.jpg">
		</div>
		<style>
		@media (max-width:1200px) and (min-width:992px) {
		  /* line 23, ../sass/home.scss */
		  .row-categoria img {
		    max-height: 320px;
		    min-height: 320px;
		  }
		}
		</style>
		<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
			<h3 class="hidden-xs">Vestidos</h3><hr class="hidden-xs">
			<% itens.forEach(function(item){ %>
  			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="thumbnail">
            <div class="wrapBtn">
              <button onclick="favStatus(this);" class="favBtn"><span style="display: none" class="favText">Salvo</span><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span></button>
            </div>
            <a href="/<%= item._id %>">
              <img src="<%= item.imagem %>" alt="Vestido estampado"/>
              <div class="caption">
                <h3><%= item.titulo %></h3>
                <span class="preco-original">De: R$<%= item.precoOriginal.toFixed(2).replace(".", ",") %></span>
                <span class="preco-desconto">R$<%= item.precoPromocao.toFixed(2).replace(".", ",") %></span>
                <button class="btn comprarBtn">Comprar</button>
              </div>
            </a>
          </div>
  			</div>
      <% }); %>
      <nav aria-label="Page navigation example" class="text-center">
			  <ul class="pagination">
			    <li class="page-item">
			      <a class="page-link" href="#" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			        <span class="sr-only">Previous</span>
			      </a>
			    </li>
			    <li class="page-item"><a class="page-link" href="#">1</a></li>
			    <li class="page-item"><a class="page-link" href="#">2</a></li>
			    <li class="page-item"><a class="page-link" href="#">3</a></li>
			    <li class="page-item">
			      <a class="page-link" href="#" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			        <span class="sr-only">Next</span>
			      </a>
			    </li>
			  </ul>
			</nav>
    </div>
		</div>
	</div>
</div>
<% include ./partials/footer.ejs %>
