<% include ./partials/header.ejs %>
  	<div class="container home">
  		
  		<div class="row">
  			<div class="col-xs-12">

  				<!-- CARROSSEL BOOTSTRAP DE BANNERS -->
  				<div id="myCarousel" class="carousel slide" data-ride="carousel">
				    <!-- Indicadores -->
				    <ol class="carousel-indicators">
				      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				      <li data-target="#myCarousel" data-slide-to="1"></li>
				      <li data-target="#myCarousel" data-slide-to="2"></li>
				    </ol>
				
				    <!-- Envolve os slides -->
				    <div class="carousel-inner" role="listbox">
				
					  <!-- Slides -->
				      <div class="item active">
				        <img src="http://tvz.vteximg.com.br/arquivos/ids/177503/BANNER_SEMANAL15_HOME_1920x650px.png" 
				        alt="Coleção Yellow Garden">
				      </div>
				    
				      <div class="item">
				        <img src="http://www.htinha.com.br/styles/banner.jpg" alt="Moda infantil">
				      </div>
				
				      <div class="item">
				        <img src="https://s.lamandinne.com.br/hibrido/slider/banner_pulseira_copy_copy-4.png" 
				        alt="Lançamentos verão 2018">
				      </div>
				  
				    </div>
				
				    <!-- Controle de direita e esquerda -->
				    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
				      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				      <span class="sr-only">Anterior</span>
				    </a>
				    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
				      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				      <span class="sr-only">Próximo</span>
				    </a>
				  </div>
  			</div>
  		</div>
  		<div class="row">
        <div class="limit-heading">
          <h2 class="heading"><span>Destaque</span></h2>
        </div>
        <% if(itens){ itens.forEach(function(item){ %>
  			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <div class="thumbnail">
            <div class="wrapBtn">
              <button onclick="favStatus(this);" class="favBtn"><span style="display: none" class="favText">Salvo</span><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span></button>
            </div>
            <a href="/<%= item._id %>">
              <img src="<%= item.imagem %>" alt="Vestido estampado"/>
              <div class="caption">
                <h3><%= item.titulo %></h3>
                <span class="preco-original">De: <%= item.precoOriginal %></span>
                <span class="preco-desconto"><%= item.precoPromocao %></span>
                <button class="btn comprarBtn">Comprar</button>
              </div>
            </a>
          </div>
  			</div>
        <% }); } %>
  		</div>
  		<div class="row">
        <div class="limit-heading">
          <h2 class="heading"><span>Novos</span></h2>
        </div>
  			<% if(itens){ itens.forEach(function(item){ %>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <div class="thumbnail">
            <div class="wrapBtn">
              <button onclick="favStatus(this);" class="favBtn"><span style="display: none" class="favText">Salvo</span><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span></button>
            </div>
            <a href="/<%= item._id %>">
              <img src="<%= item.imagem %>" alt="Vestido estampado"/>
              <div class="caption">
                <h3><%= item.titulo %></h3>
                <span class="preco-desconto"><%= item.precoOriginal %></span>
                <button class="btn comprarBtn">Comprar</button> 
              </div>
            </a>
          </div>
        </div>
        <% }); }%>
  		</div>
      <style>
        @media only screen and (max-width: 768px) {
          /* line 57, ../sass/home.scss */
          .anuncio img:nth-of-type(2){
            display: block;
          }
          .anuncio img:nth-of-type(1){
            display: none;
          }

        }
        @media only screen and (min-width: 768px) {
          .anuncio img:nth-of-type(1){
            display: block;
          }
          .anuncio img:nth-of-type(2){
            display: none;
          }
        }

      </style>
      <div class="row">
        <div class="col-xs-12 anuncio">
          <img src="https://static.kanui.com.br/cms/banner-marca-mandi-kanui.jpg"/>
          <img src="http://www.evef.com.br/images/logotipo/anuncio_publicitario_marca_moda_roupa_missguided.jpg"/>
        </div>
      </div>
  		<div class="row">
        <% var arr = ['Feminino', 'Masculino', 'Infantil', 'Blusas', 'Vestidos', 'Calças', 'Praia', 'Camisas', 'Casacos', 'Coletes', 'Macacões', 'Pijamas', 'Regatas', 'Saias', 'Shorts', 'Bermudas', 'Polos', 'Carteiras', 'Bijoux', 'Bolsas', 'Cintos', 'Chapéus', 'Óculos', 'Relógios', 'Sapatilhas', 'Tênis', 'Botas', 'Chinelas', 'Salto Alto', 'Sapatos'] %>
        <div class="limit-heading">
        <h2 class="heading"><span>Categorias</span></h2>
      </div>
        <ul id="categorias-bottom">
        <% for(var i=0; i<arr.length; i++){ %>
          <li class="titulo-categoria"><a href="#"><%= arr[i] %></a></li>
        <% } %>
        </ul>
      </div>
  	</div>
<% include ./partials/footer.ejs %>