<% include ./partials/header.ejs %>
<div class="container">
	<section class="item-area">
		<div class="row">
			<div class="col-md-1 col-xs-2 preview">
				<img src="<%= item.imagem %>">
				<img src="<%= item.imagem %>">
				<img src="<%= item.imagem %>">
				<img src="<%= item.imagem %>">
				<img src="<%= item.imagem %>">
			</div>
			<div class="col-md-5 col-xs-10 main">
				<img src="<%= item.imagem %>">
			</div>
			<div class="col-md-6 col-xs-12 info">
				<h2><%= item.titulo %></h2>
				<p>Vendido e entregue por XXXXXX.</p>
				<div class="avaliacao-item"></div>
				<script>
					var avaliacoes = 0;
					var users = 0; 
					<% item.comentarios.forEach(function(comentario){ %>
					    avaliacoes += <%= comentario.avaliacao %>; 
						users ++; 
					<% }); %> 
					var length = Math.round(avaliacoes/users);
					genStars(length, -1);
				</script>
				<h2><%= item.precoOriginal %></h2>
				<h2><%= item.precoPromocao %></h2>
				<hr>
				<section class="form-sec">
					<form>
					  <label>Cor:</label>
						<input type="radio" name="cor" value="branco" checked>
						<input type="radio" name="cor" value="azul">
						<input type="radio" name="cor" value="preto"><br>
					  <label>Tamanho:</label>
					  	<input type="radio" name="tam" value="PP">
					  	<input type="radio" name="tam" value="P" checked>
					  	<input type="radio" name="tam" value="M">
					  	<input type="radio" name="tam" value="G">
					  	<input type="radio" name="tam" value="GG"><br>
					  <button type="submit">Adicionar ao carrinho</button>
					</form>
					<button type="submit">Salvar para depois</button>
				</section>
				<hr>
				<ul>
					<li>Curabitur sed cursus ex. Morbi ornare maximus felis, a 
					elementum lectus elementum in.</li>
					<li>Vivamus a metus vehicula, accumsan purus vel, aliquet 
					nisl. Duis turpis urna, accumsan vel tristique et, 
					tincidunt facilisis mauris.</li>
				</ul>
			</div>
		</div>
	</section>
	<script>
	$('#myTabs a').click(function (e) {
 		e.preventDefault()
  		$(this).tab('show')
	})
</script>
	<section class="descricao-area">
	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-tabs">
			   <li><a href="#descricao">Descrição</a></li>
			   <li><a href="#avaliacao">Avaliações</a></li>
			</ul>
			<script>
			$(document).on('click', 'a[href^="#avaliacao"]', function (event) {
			  event.preventDefault();
		
		    $('html, body').animate({
		      scrollTop: $($.attr(this, 'href')).offset().top
			  }, 800);
			});
			</script>
			<div class="tab-content">
			  <div class="tab-pane active">Curabitur congue faucibus magna quis ullamcorper. Vivamus eget nisl eu elit maximus tempus a quis
			   	eros. Suspendisse neque felis, ultrices et turpis ut, suscipit sagittis augue. Sed ac turpis dignissim, pharetra tellus nec, suscipit eros. Aliquam vitae massa risus. Cras at massa nec dolor posuere facilisis. Nunc facilisis ante quis consequat ultricies. Fusce finibus varius lacinia. Aliquam consectetur egestas nunc eget aliquam.<br><br>

			    <strong>DETALHES DO PRODUTO</strong><br>
					Vestido preto estampado<br>
					Tipo de Produto: Vestido<br>
					Modelagem: Evasê<br>
					Manga: Curta<br>
					Comprimento: Curto<br>
					Estampas: Poás<br>
					Decote: Redondo<br>
					Composição: 97% Poliéster e 3% Elastano<br>
					Medidas da peça: Ombro: 6cm/ Ombro a ombro: 36cm/ Manga: 15cm/ Busto: 90cm/ Comprimento: 96cm<br>
					Medidas da Modelo: Altura: 1,78m/ Busto: 88cm/ Cintura: 60cm/ Quadril: 87cm.<br>
					Tipo de Tecido: Malha<br><br>

					<strong>INFORMAÇÕES</strong><br>
					SKU	FI911APF89DDY<br>
					Modelo	FiveBlu 302814<br>
					Material	Poliéster<br>
					Cor	Preto<br>
					Lavagem	Pode ser lavado na máquina<br>
					Tipo de frete:	Leve<br>
				</div>
			</div>
		</div>
	</div>
	</section>
	<div class="row after-item1">
    <div class="limit-heading">
      <h2 class="heading"><span>Talvez você também goste de...</span></h2>
    </div>
    <div class="carrossel-overfl">
    	<div class="carrossel" style="transform: translateX(0)">
    		<% for(var i=0; i<12; i++){ %>
 				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 content">
     	    <div class="thumbnail">
       			<div class="wrapBtn">
         			<button onclick="favStatus(this);" class="favBtn"><span style="display: none" class="favText">Salvo</span><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span></button>
            </div>
            <a href="/<%= item._id %>">
             	<img src="<%= item.imagem %>" alt="Vestido estampado"/>
             	<div class="caption">
              		<h3><%= item.titulo %></h3>
              		<span class="preco-original">De: <%= item.precoOriginal %></span>
              		<span class="preco-desconto"><%= item.precoPromocao %></span>
              		<button class="btn comprarBtn">Comprar</button>
             	</div>
            </a>
          </div>
  			</div>
        <% } %>
    	</div>
    </div>
    <button class="btnCtrlPrev" onclick="previous();"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
    <button class="btnCtrlNext" onclick="next();"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
  </div>
	<div class="row" id="avaliacao">
		<div class="limit-heading">
      <h2 class="heading"><span>Avaliações</span></h2>
    </div>
    <% var num = 0; %>
		<% item.comentarios.forEach(function(comentario){ %>
		<div class="col-md-12">
		  <div class="media">
		    <div class="media-left">
		        <img class="media-object" src="http://www.mulierchile.com/girl-profile-picture/girl-profile-picture-027.jpg" alt="girl">
		    </div>
		    <div class="media-body">
		      <p class="pull-right">Postado há X tempo</p>
		      <h4 class="media-heading"><strong>Nome do usuário</strong></h4>
		      <div class="avaliacao-user<%= num %>"></div>
		      <script> genStars(<%= comentario.avaliacao %>, <%= num %>);</script>
		      <% num++; %>
		      <p>Comentário demonstrando satisfação!Curabitur congue faucibus magna quis ullamcorper. Vivamus eget nisl eu elit maximus tempus a quis eros. Suspendisse neque felis, ultrices et turpis ut, suscipit sagittis augue. Sed ac turpis dignissim, pharetra tellus nec, suscipit eros. Aliquam vitae massa risus. Cras at massa nec dolor posuere facilisis. Nunc facilisis ante quis consequat ultricies. Fusce finibus varius lacinia. Aliquam consectetur egestas nunc eget aliquam.</p>
		    </div>
		  </div>
		</div>
		<% }); %>
	</div>
	<div class="row">
		<div class="col-md-12">
			<form style="width: 95%; margin: 0 auto; text-align: center">
			<h4>Faça <a href="/login"><strong><i>login</i></strong></a> e deixe sua avaliação! :)</h4>
			<div class="avaliacao-user-online">
				<span class="star1 glyphicon glyphicon-star-empty" aria-hidden="true"></span>
				<span class="star2 glyphicon glyphicon-star-empty" aria-hidden="true"></span>
				<span class="star3 glyphicon glyphicon-star-empty" aria-hidden="true"></span>
				<span class="star4 glyphicon glyphicon-star-empty" aria-hidden="true"></span>
				<span class="star5 glyphicon glyphicon-star-empty" aria-hidden="true"></span>
			</div>
			<textarea style="width: 95%; margin: 15px 0; border: none; border-radius: 20px; outline: none; padding: 20px; resize: none; box-shadow: 0 0 20px #bbb; height: 100px" placeholder="Digite seu comentário..."></textarea>
			<button type="submit" style="border: 3px solid #777; background: none; padding: 10px; border-radius: 10px; outline: none; width: 95%;">Comentar</button>
		</form>
		</div>
	</div>
	<div class="row">
        <div class="limit-heading">
          <h2 class="heading"><span>Mais em Vestidos</span></h2>
        </div>
        <% for(var i=0; i<12; i++){ %>
  			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
         	    <div class="thumbnail">
           			<div class="wrapBtn">
             			<button onclick="favStatus(this);" class="favBtn"><span style="display: none" class="favText">Salvo</span><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span></button>
            		</div>
            		<a href="/<%= item._id %>">
            		  <img src="<%= item.imagem %>" alt="Vestido estampado"/>
            		  <div class="caption">
            		    <h3><%= item.titulo %></h3>
            		    <span class="preco-original">De: <%= item.precoOriginal %></span>
            		    <span class="preco-desconto"><%= item.precoPromocao %></span>
            		    <button class="btn comprarBtn">Comprar</button>
            		  </div>
            		</a>
          		</div>
  			</div>
        <% } %>
  	</div>
  	<div class="row">
        <% var arr = ['Feminino', 'Masculino', 'Infantil', 'Blusas', 'Vestidos', 'Calças', 'Praia', 'Camisas', 'Casacos', 'Coletes', 'Macacões', 'Pijamas', 'Regatas', 'Saias', 'Shorts', 'Bermudas', 'Polos', 'Carteiras', 'Bijoux', 'Bolsas', 'Cintos', 'Chapéus', 'Óculos', 'Relógios', 'Sapatilhas', 'Tênis', 'Botas', 'Chinelas', 'Salto Alto', 'Sapatos'] %>
        <div class="limit-heading">
        <h2 class="heading"><span>Categorias</span></h2>
      </div>
        <ul id="categorias-bottom">
        <% for(var i=0; i<arr.length; i++){ %>
          <li class="titulo-categoria"><a href="#"><%= arr[i] %></a></li>
        <% } %>
        </ul>
      </div>
</div>
<% include ./partials/footer.ejs %>
